h1 {
	font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
	font-size: 60px;
	padding: 0;
	margin: 0;
}
h3 {
	font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
	font-size: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}		
.title-cabecera {
  padding-top: 1em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  text-align: center;
}

.lateral-menu {
  list-style-type: none;
  position: absolute;
  padding-top: 3px;
  margin-top: 5px;
  left: 1em;
  width: auto;
}
.lateral-menu ul li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid purple 
}
.lateral-menu ul a {
  text-decoration: none;
}

.content{
	padding-top: 20px;
	text-align: center;
}
.pie-imagen{
 line-height:normal;
 font-size:16px;
 margin:0;
 padding:0;
 color:black;
 font-style:italic;
 text-align:center;
 position:relative;
 height:0;
}
.boxes{
/*margin: 0 0 25px;
overflow: hidden;*/
padding: 20px;
margin: 15px;
padding-left: 150px;

}

.pepe{
    width: 20%;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;
    height: 200px;
	display: inline-block;
}
.pepe h4{
text-align:left;
padding-left: 10px;
margin-bottom: 1px;
}
.pepe p{
text-align: left;
padding-left: 10px;
padding-top: 10px;
}

.box{
color: white;
border: 1px solid #afcde3;
padding: 5px;
width: 20%;
display: inline-block;
height: 250px;
}
.box h4{
text-align:left;
padding-left: 10px;
margin-bottom: 1px;
}
.box p{
text-align: left;
padding-left: 10px;
padding-top: 10px;
}

.box1{
	background-color: deepSkyBlue;
}
.box2{
	background-color: lightPink;
}
.box3{
	background-color: mediumSeaGreen;
}
.box4{
	background-color: crimson;
}

 
a:link {
  color: blue;
}
a:visited {
  color: purple; 
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}